html { height: 100%; }

/* why isn't this a browser native default? */
details:hover { cursor: pointer; }

body {
  color: #444;
  margin: 0;

  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

#content {
  padding: 1ex;
}

footer {
  margin-top: 1em;
  grid-row-end: -1;
  font-size: .9em;
}
footer .stale-stamp {
  font-size: .7em;
  color: #dfdfdf;
}
footer .stale-stamp:hover,
footer .stale-stamp a {
  color: inherit;
}

/* match margin-top of paragraphs that _usually_ start the first content of a
 * page and _usually_ give a nice buffer between header and first content */
#content > header { margin-bottom: 1em; }

#content header h1 {
  margin-top: 0;
  color: #585858;
  font-weight: lighter;
}
header, footer { text-align: center; }

h1,h2,h3,h4,h5,h6 { font-family: 'Libre Baskerville', serif; }

/*
 * TODO if some day css variables are supported everywhere (not currently
 * supported for media query arguments, then search '6\d.px' in all css files and
 * consolidate to a single variable.
 */
body { max-width: 650px; }
@media (min-width: 600px) { body { margin: 0 auto; } }
@media (min-width: 600px) { body { width: 80%; } }
@media (min-width: 640px) { body { width: 65%; } }
@media (min-width: 800px) { body { width: 50%; } }


#footnotes {
  font-size: 0.8em;
  /* slightly lighter than body */
  color: #545454;
  padding-top: 2em;
}

#footnotes hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

pre:has(> code) {
  padding: 1em;
}

@media (prefers-color-scheme: dark) {
  pre:has(> code) {
    background-color: #f9f9f9;
  }
}

aside.toc-aside { font-style: italic; }
aside.toc-aside { padding-left: 1em; }
aside.toc-aside nav { padding-left: 0.75em; }

aside.toc-aside nav ul { margin-top: 0.25em; }
aside.toc-aside { font-size: 0.9em; }

aside.toc-aside .toc-explainer {
  font-variant: all-petite-caps;
}

aside.toc-aside ul {
  list-style-type: none;
}

aside.toc-aside ul a {
  color: inherit;
  text-decoration: inherit;
}

aside.toc-aside ul a:hover {
  text-decoration: underline;
}

aside.toc-aside nav > ul {
  padding-left: inherit;
}

/**
 * tl;dr hand-crafting asciidoc's image[] macro feature to support role="" as
 * and when I need it.
 *
 * Pretty sure all the "role"s we're targeting here are supposed to have their
 * own styling, but that doesn't work for us for some reason maybe
 * asciidoc/hugo integration bug?... apparently so:
 * https://blog.arkey.fr/2020/04/23/tackling-hugo-integration-of-asciidoctor/#_porting_the_asciidoctor_css
 *
 * Here's the relevant docs:
 * - about roles and how they should work (and how I try to use them on this
 *   site, despite them not working):
 *   https://docs.asciidoctor.org/asciidoc/latest/macros/image-position/
 * - about all thepossible values an image[] macro in asciidoc can accept:
 *   https://docs.asciidoctor.org/asciidoc/latest/macros/image-ref/
 *
 * To add more custom targeting, use:
 *    span.image > img {}
 */
/* implements: role="thumb right" */
span.image.thumb.right > img { float: right; }
/* implements: role="thumb left" */
span.image.thumb.left > img { float: left; }
